<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="tenantId" value="TENANT_ID"/>
		<add key="clientId" value="CLIENT_ID"/>
		<add key="clientSecret" value="CLIENT_SECRET"/>
		<add key="subscriptionId" value="SUBSCRIPTION_ID"/>
		<add key="resourceGroup" value="RESOURCE_GROUP"/>
		<add key="storageAccount" value="STORAGE_ACCOUNT"/>
		<add key="connectionString" value="CONNECTION_STRING"/>
		<add key="clientSideKeyVaultKeyUri" value="https://[KEYVAULT-NAME].vault.azure.net/keys/[KEYNAME]/[KEYVERSION]"/>
		<add key="keyWrapAlgorithm" value="KEY_WRAP_ALGORITHM"/>
	</appSettings>
</configuration>