<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="tenantId" value="TENANT_ID"/>
		<add key="clientId" value="CLIENT_ID"/>
		<add key="clientSecret" value="CLIENT_SECRET"/>
		<add key="connectionString" value="CONNECTION_STRING"/>
		<add key="keyVaultKeyUri" value="https://[KEYVAULT-NAME].vault.azure.net/keys/[KEYNAME]/[KEYVERSION]"/>
		<add key="keyWrapAlgorithm" value="KEY_WRAP_ALGORITHM"/>
		<add key="containerName" value="CONTAINER_NAME"/>
		<add key="blobName" value="BLOB_NAME"/>
		<add key="encryptionScopeName" value="ENCRYPTION_SCOPE_NAME"/>
	</appSettings>
</configuration>