<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="subscriptionId" value="SUBSCRIPTION_ID"/>
		<add key="resourceGroup" value="RESOURCE_GROUP"/>
		<add key="storageAccount" value="STORAGE ACCOUNT"/>
		<add key="connectionString" value="CONNECTION_STRING"/>
	</appSettings>
</configuration>