<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="CONNECTION_STRING"/>
		<add key="keyWrapAlgorithm" value="KEY_WRAP_ALGORITHM"/>
		<add key="clientSideCustomerProvidedKey" value="CLIENT_SIDE_CUSTOMER_PROVIDED_KEY"/>
		<add key="containerName" value="CONTAINER_NAME"/>
		<add key="blobName" value="BLOB_NAME"/>
		<add key="blobNameAfterMigration" value="BLOB_NAME_AFTER_MIGRATION"/>
		<add key="serverSideCustomerProvidedKey" value="SERVER_SIDE_CUSTOMER_PROVIDED_KEY"/>
	</appSettings>
</configuration>