<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="connectionString" value="CONNECTION_STRING"/>
		<add key="keyWrapAlgorithm" value="KEY_WRAP_ALGORITHM"/>
		<add key="clientSideCustomerProvidedKey" value="CUSTOMER_PROVIDED_KEY"/>
		<add key="containerName" value="CONTAINER_NAME"/>
		<add key="blobName" value="BLOB_NAME"/>
		<add key="blobNameAfterMigration" value="BLOB_NAME_AFTER_MIGRATION"/>
		<add key="encryptionScopeName" value="ENCRYPTION_SCOPE_NAME"/>
	</appSettings>
</configuration>