<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>		
		<add key="sourceConnectionString" value=""/>
		<add key="destConnectionString" value=""/>
		<add key="sourceContainerName" value=""/>
		<add key="destContainerName" value =""/>
		<add key="blobName" value="blobName.txt"/>
	</appSettings>
</configuration>
