<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SourceConnectionString" value=""/>
		<add key="DestConnectionString" value=""/>
		<add key="SourceContainerName" value=""/>
		<add key="DestContainerName" value =""/>
		<add key="BlobName" value="blobName.txt"/>
	</appSettings>
</configuration>
